<div class="grid w-screen h-screen p-0 m-0">
    <div class="col-12" style="height: 7vh; background-color: rgb(35, 134, 221);">
        Top Bar
    </div>
    <div class="grid col-12 md:col-12 p-0 m-0" style="height: 93vh; background-color: lime;">
        <div class="col-12 md:col-3 h-full" style="background-color: rgb(46, 46, 37);">
            Menu
        </div>
        <div class="col-12 md:col-9" style="background-color: rgb(7, 138, 138);">
                
        </div>
    </div>
</div>